@import "../Base/base";
@import "../Theme/variable";
@import "./header";
@import "./footer";
//-------------------------------------
.profile{
    h3 {
        @include text($text-lg, $text-medium, $text-cl-prim);
      }
    .profile-update{
        .update-section{
            form{
                .form-group{
                    p{
                        @include text($text-base,$text-medium,$text-cl-sp2);
                    }
                    input {
                        transform: translateY(-px);
                        &.form-control {
                            border-bottom: none;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-radius: 0;
                            padding: 16px 12px 14px 14px;
                            background: rgba(33, 33, 33, 0.08);
                            @include text($text-sm, $text-medium, $text-cl-prim);
                
                            &:focus {
                                box-shadow: none;
                            }
                        }
                
                        &::placeholder {
                            @include text($text-sm, $text-medium, $text-cl-sp3);
                            opacity: .5;
                        }
                    }
                }
                .gender-choice-title{
                    @include text($text-base, $text-medium, $text-cl-prim);
                }
                .row{
                    .form-check{
                        transform: translateX(10px);
                        .form-check-input{
                            // width: 65px;
                            // height: 50px;
                            // border: none;
                            // transform: translate(-15px,-10px);
                            
                            background-color: $fr-cl-check1;
                            &:focus{
                                box-shadow: none;
                            }
                            &:checked[type=radio]{
                              background-image: url("../../img/purple-dot.png");
                            }
                        }
                        .form-check-label{
                            margin-top: 15px;
                            @include text($text-sm, $text-medium, $text-cl-prim);
                        }
                    }
                    button {
                        transition: all 0.5s;
                        margin-top: 25px;
                        margin-left: 10px;
                        // position: absolute;
                        // left: 51.5%;
                        @include button(
                          $btn-cl-5,
                          12px,
                          none,
                          $text-sm,
                          $text-medium,
                          $text-cl-sec,
                          $btn-cl-1,
                          $text-cl-prim
                        );
                        transform: translateX(-15px);
                      }
                }
                
            }
        }
    }
}